.left {
  padding: 16px;
  width: 307px;
  max-width: 600px;
  height: 760px;
  background-color: #f0f2f54e;
}

.left > div {
  padding: 8px 12px;
  margin: 8px;
}

.left > div > a {
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  width: 100%;
  padding: 8px 12px;
}

.active-link {
  border-radius: 12px;
  background: #f0f2f5;
}

.dash-main {
  width: 90%;
  padding: 16px;
}

.right {
  /* width: 921px; */
  padding: 16px;
}

.right p:nth-child(1) {
  width: 100%;
  color: #121417;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.right p:nth-child(2) {
  color: #121417;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 12px 0;
}

.search {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  background: #f0f2f5;
  padding: 16px;
  font-size: 16px;
  margin: 12px 0;
}

.search::placeholder {
  color: #637587;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.table {
  padding: 5px;
  width: 100%;
  overflow: auto;
  border-radius: 12px;
  border: 1px solid #dbe0e5;
  background: #fff;
}

.table::-webkit-scrollbar {
  display: none;
}

.table_wrapper {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.4rem;
}

.table__head {
  border-bottom: 1px solid #e5e8eb;
  font-size: 14px;
}

.same_class {
  vertical-align: center;
  text-align: left;
  padding: 8px;
  height: 75px;
}

.table__row {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.table__row:last-child {
  border-bottom: unset;
}

.table_body .table_row > td:not(:first-child) {
  color: #637587;
}

.table__row:nth-child(even) {
  background-color: #fff;
}

tbody > tr:hover {
  cursor: pointer;
}

.room-table {
  min-width: 600px;
}

.right button {
  margin-top: 1.2em;
  width: 60%;
  height: 40px;
  padding: 0px 16px;
  color: #121417;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.21px;
}

._noBg {
  background: transparent;
}

.sidebar-toggle-icon {
  cursor: pointer;
  font-size: 50px;
  display: none;
}

.mobile-side-nav {
  display: block;
  position: fixed;
  left: 0;
  background-color: #fff;
}

.modal-content button {
  margin: 10px;
  width: 100%;
  border-radius: 12px;
  background: #1a6917;
  padding: 10px;
  font-size: 15px;
  color: white;
}

.modal-content .one {
  background: rgba(0, 0, 255, 0.743);
  color: white;
}
.modal-content .two {
  background: rgba(26, 130, 151, 0.743);
  color: white;
}
.modal-content .three {
  background: rgba(255, 0, 0, 0.743);
  color: white;
}

.modal-content input {
  border: 1px solid grey;
  width: 100%;
  padding: 4px;
  font-size: 12px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 900px) {
  .sidebar-toggle-icon {
    display: block;
  }
  .desktop-side-nav {
    display: none;
  }

  .dash-main {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
}